.column {
    float: left;
    width: 27%;
    padding: 0 10px;
}

.column-center {
    float: left;
    width: 40%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #ffffff;
}

.avatar {
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 20%);
}