<div *ngIf="userInfo" class="row">
    <div class="column">
        <div class="card">
            <h3>Repositório</h3>
            <hr>
            <li *ngFor="let repo of userInfo.repository">
                <!-- <i class="fas fa-caret-right"></i -->
                ><a href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a>
            </li>
        </div>
    </div>
    <div class="column-center">
        <div class="card">
            <img width="130px" class="avatar" src="{{userInfo.user?.avatar_url}}" alt="">
            <h3>Tom Preston-Werner</h3>
            <hr>
            <div *ngIf="userInfo.user?.location">
                <i class="fas fa-compass"></i>{{ userInfo.user?.location }}
            </div>
            <div *ngIf="userInfo.user?.company">
                <i class="fas fa-building"></i>{{ userInfo.user?.company }}
            </div>
            <div *ngIf="userInfo.user?.following">
                <i class="fas fa-users"></i>follows {{ userInfo.user?.following }} users
            </div>
            <a *ngIf="userInfo.user?.blog" href="{{ userInfo.user.blog }}" target="_blank">
                <i class="fas fa-external-link-alt"></i>{{ userInfo.user?.blog }}
            </a>
            <a *ngIf="userInfo.user?.twitter_username" href="{{ userInfo.user?.twitter_username }}" target="_blank"> </a>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <h3>Seguidores</h3>
            <hr>
            <div style="  max-height: 500px;
            overflow: auto;">
                <li *ngFor="let follower of userInfo.followers">
                    <a href="{{ follower.html_url }}" target="_blank">
                        <img src="{{ follower.avatar_url }}" width="50" class="avatar mr-2" alt="{{ follower.name }}" /> {{ follower.login }}
                    </a>
                </li>
            </div>
        </div>
    </div>
</div>


<div *ngIf="!userInfo">
    <h1>Spinner</h1>
</div>