.message-not-found {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    font-size: 50px;
}

.button-back {
    left: 43%;
    position: absolute;
    text-align: center;
    top: 51%;
    font-size: 80px;
    float: center;
    cursor: pointer;
}